.App {
  text-align: center;
}

.todo-list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.input-field {
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
  margin: auto;
}

.add-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  margin: auto;
  margin-top: 20px;
}

.items-container {
  margin-top: 20px;
  margin: 20px 400px;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f2f2f2;
}

.todo-item-text {
  font-size: 16px;
}

.delete-button {
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
  flex-shrink: 0;
  margin-left: 20px;
}
